<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ändra användaruppgifter</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename='static/style.css') }}">
</head>
<body>
  <h1>Ändra användaruppgifter</h1>
  <form class="change-credentials" action="/change_credentials" method="post">
    <label for="current_username">Nuvarande användarnamn:</label>
    <input type="text" id="current_username" name="current_username" required>

    <label for="current_password">Nuvarande lösenord:</label>
    <input type="password" id="current_password" name="current_password" required>

    <label for="new_username">Nytt användarnamn:</label>
    <input type="text" id="new_username" name="new_username" required>

    <label for="new_password">Nytt lösenord:</label>
    <input type="password" id="new_password" name="new_password" required>

    <input type="submit" value="Ändra uppgifter">
  </form>
</body>
</html>