<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ändra användaruppgifter</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename='static/style.css') }}">
</head>
<body class="inlogg">
  <div class="login">
  <h1>Ändra lösenord</h1>
  <form class="change-credentials" action="/change_credentials" method="post">
    <div class="textfield">  
      <label for="current_username">Användarnamn:</label>
      <input type="text" id="current_username" name="current_username" required>
    </div>
    <div class="textfield">
      <label for="current_password">Nuvarande lösenord:</label>
      <input type="password" id="current_password" name="current_password" required>
    </div>
    <div class="textfield">
      <label for="new_password">Nytt lösenord:</label>
      <input type="password" id="new_password" name="new_password" required>
    </div>
    <input type="submit" class="submit-login" value="Ändra lösenord">
  
    <div class="sign-up">
      <a href="/start">Klicka här för att komma tillbaka till startsidan</a>
  
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
  {% endif %}
{% endwith %}
<footer>
  <p>Coypright 2024</p>
</footer>

</body>
</html>