<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename='static/style.css') }}">
</head>

<body class="inlogg">
  <div class="login">
    <img src="{{ url_for('static', filename='static/image.fitnesslink.png') }}" alt="Fitnesslink.logo" class="logo">
    <h1>Inlogging</h1>
    <form action="/" method="post">
      <div class="textfield">
        <label for="username">Användarnamn:</label>
        <input type="text" name="username" required>
      </div>
      <div class="textfield">
        <label for password>Lösenord</label>
        <input type="password" name="password" required>
      </div>
      <input type="submit" class="submit-login" value="logga in">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="sign-up">
        <a href="/reset">Glömt lösenord?</a>
      </div>
      <div class="sign-up">
        <a href="/register_user">Vänligen registrera dig här!</a>
      </div>
    </form>
  </div>
</body>

</html>