<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lagra måltid</title>
</head>
<body>
  <form action="/submit" method="post">
    <label for="meal_name">Meal name:</label><br>
    <input type="text" id="meal_name" name="meal_name" required>
    <br>
    <br>
    <label for="calories">Calories</label>
    <lanel type="number" id="calories" name="calories"></label>
    <input type="submit" value="Registrera">
  </form>
</body>
</html>