<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrera medlemmar</title>
</head>
<body>
  <h2>Registrera medlemmar</h2>
  <form action="/submit" method="post">
    <label for="fullname">Fullständigt namn:</label><br>
    <input type="text" id="fullname" name="fullname" required>
    <br>
    <br>
    <label for="username">Användarnamn:</label><br>
    <input type="text" id="username" name="username" required>
    <br>
    <br>
    <label for="password">Lösenord:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <br>
    <label for="email">Emailaddress:</label><br>
    <input type="email" id="email" name="email" required><br><br>
    <input type="submit" value="Registrera">
  </form>
</body>
</html>