<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logga måltider</title>
</head>
<body>
  <h2>Måltidsformulär</h2>
  <form action="/meal" method="POST">
    <label for="meal_id">Meal ID:</label>
    <input type="text" id="meal_id" name="meal_id">

    <label for="m_id">Member ID:</label>
    <input type="text" id="m_id" name="m_id">

    <label for="calories_per_meal">Calories per meal</label>
    <input type="text" id="calories_per_meal" name="calories_per_meal">

    <label for="date">Todays date:</label>
    <input type="date" id="date" name="date">

    <label for="meal_type_id">Måltids ID:</label>
    <input type="text" id="meal_type_id" name="meal_type_id">

    <input type="submit" value="Submit">
  </form>
</body>
</html>