<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='static/style.css') }}">
    <title>Återställ lösenord</title>
</head>
<body>
    <div class="login">
        <h1>Återställ lösenord</h1>
        <form action="{{ url_for('reset_password') }}" method="post">
            <div class="textfield">
                <input type="email" name="email" required placeholder="Ange din e-postadress">
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button type="submit" class="submit-login">Bekräfta mailaddress</button>
        </form>
    </div>
</body>
</html>