<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filmklubben MovieLovers</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename='css/style.css') }}">
</head>

<body>
    <div id="container">
    <header>
        <h1>Välkommen till Filmklubben MovieLovers</h1>
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Hem</a></li>
            <li><a href="filmer.html">Filmer</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
        </ul>
    </nav>
    <main>
        <h2>Vi som älskar film</h2>
        <p>Vi älskar film!
            <br>
            Action, drama, komedi, triller, skräck, you name it - we love it!.</p>
            <br>
            <p>På denna webbplats kan ni hitta:</p>
            <ul>
                <li>Vad vi sett för filmer, samt läsa lite om filmerna</li>
                <li>Vilka vi är och varför denna site finns</li>
                <li>Kontaktformulär där ni kan skicka in filmförslag till oss</li>
            </ul>

            <p>
            Så det är bara att klicka runt sig på sidan för 
            att få en bild av oss och de filmer som vi sett. 
            De må inte vara många nu, <br>
            men vi är nystartade och sidan kommer att
             expandera i tackt med att vi ser fler filmer. 
            Så håll ögonen öppna!
            <br>
            <br>
            Välkommen önskar styrelsen i MovieLovers!
        </p>

    </main>

    <img src="pop2 20.16.46.jpeg" alt="Popcorn" class="popcorn">


    <footer>
        <p>Coypright 2023</p>
    </footer>

</div>
</body>
</html>