<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitnessLink</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
        <header>
            <h1>Välkommen till FitnessLink</h1>
            <button onclick="window.location = 'http://127.0.0.1:5000'" type="submit">Logga ut</button>
        </header>
        <nav>
            <ul>
                <li><a href="/start">Hem</a></li>
                <li><a href="/get_training_log">Träna</a></li>
                <li><a href="/meal">Mat</a></li>
            </ul>
        </nav>
        <main>
            <h2>Vi som älskar träning!</h2>
            <p>Vi älskar träning!</p>
            <p>På denna webbplats kan ni:</p>
            <ul>
                <li>Logga träningspass</li>
                <li>Registrera kaloriintag</li>
                <li><a href="/view_workouts/6">Visa träningspass.</a></li>
            </ul>

        </main>
        <img src="/fll.png" class="popcorn" />


        <footer>
            <p>Coypright 2023</p>
        </footer>

    </div>
</body>

</html>