<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='static/style.css') }}">
    <title>Måltider</title>
</head>

<body>
    <div id="container">
        <nav>
            <ul>
                <li><a href="/start">Hem</a></li>
                <li><a href="/get_training_log">Träna</a></li>
                <li><a href="/meal">Kost</a></li>
            </ul>
            <div class="account-icon">
                <img src="{{ url_for('static', filename='static/user_icon.png') }}" alt="Profile" onclick="togggleDropdown()">
                <div class="profile-dropdown" id="dropdown">
                    <a href="/logout">Logga ut</a>
                    <a href="/change_credentials">Ändra lösenord</a>
                </div>
            </div>
            <img src="{{ url_for('static', filename='static/image.fitnesslink.png') }}" alt="Fitnesslink.logo"
                class="nav-logo">
        </nav>

        <h1>Dina måltider</h1>

        <table>
            <tr>
                <th>Måltidstyp</th>
                <th>Datum</th>
                <th>Kalorier</th>
            </tr>
            {% for meal in meals %}
            <tr>
                <td>{{ meal[0] }}</td>
                <td>{{ meal[1] }}</td>
                <td>{{ meal[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>