<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='static/style.css') }}">
    <title>Måltider</title>
</head>

<body>
    <div id="container">
        <nav>
            <ul>
                <li><a href="/start">Hem</a></li>
                <li><a href="/get_training_log">Träna</a></li>
                <li><a href="/meal">Mat</a></li>
            </ul>
            <img src="{{ url_for('static', filename='static/image.fitnesslink.png') }}" alt="Fitnesslink.logo"
                class="nav-logo">
        </nav>

        <h1>Måltider för användare {{ user_id }}</h1>

        <table>
            <tr>
                <th>MåltidsID</th>
                <th>MedlemsID</th>
                <th>Kalorier</th>
                <th>Datum</th>
            </tr>
            {% for meal in meal %}
            <tr>
                <td>{{ meal[0] }}</td>
                <td>{{ meal[1] }}</td>
                <td>{{ meal[2] }}</td>
                <td>{{ meal[3] }}</td>
                <td>{{ meal[4] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>