h1{
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 15px;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 28px;
}

h3{
    text-align: center;
    font-size: 20px;
    color: #7d7d7d;
}

p{
    color: whitesmoke;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #1ca4ff, #1afb56);
    min-height: 100vh;
    overflow: auto;
}

#container > nav{
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.407);
    position: relative;
    left: 0;
    top: 30px;
}


#container > nav > ul{
    display: inline;
    overflow: hidden;
    margin: 10px;
    padding: 0;
    list-style-type: none;

}

#container > nav > ul > li{
    float: left;

}
.nav-logo{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#container > nav > ul > li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 25px 60px;
    text-align: center;
    text-decoration: none;

}

#container > nav > ul > li a:hover{
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.7s;
}
#container > main{
    margin-top: 100px;
}

#container > main > p{
    text-align: center;
}

#container > nav + *{
    margin-top: 50px;
}

footer{
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    margin-top: 150px;
    position: relative ;
    text-align: center;
    overflow: hidden;
}

footer > p{
    color: black;
    text-align: center;
}

@media only screen and (max-width: 550px){
    h1{
        text-align: center;
        color: whitesmoke;
    }

    #container > nav > ul > li{
        display: block;
        width: 100%;
    }

    #container > main > p{
        text-align: center;
    }

    #container > main > ul{
        color: white;    
        margin-left: 40%;
    
    }

    #container > main > img{
        width: auto;
        display: none;
    }
    #container > main > form{
        margin-left: 10px;

    }
    
    #container > main > form > input{
        margin-left: 10px;
    }
}


.inlogg{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #1ca4ff, #1afb56);
    height: 100vh;
    overflow: hidden;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(245, 245, 245, 0.477);
    border-radius: 10px;
}

.login h1{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(154, 155, 173);
}
.login form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .textfield{
    position: relative;
    border-bottom: 2px solid grey;
    margin: 30px 0;
}
.textfield input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.textfield label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgba(0, 0, 0, 0.542);
    transform: translateY(-175%);
    font-size: 16px;
    pointer-events: none;
}
.submit-login{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgb(26, 81, 210);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: rgb(56, 252, 34);
    transition: .5s;
}
.sign-up{
    margin: 30px 30px;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.sign-up a{
    color: rgb(26, 81, 210);
    text-decoration: none;

}
.sign-up a:hover{
    text-decoration: underline;
}
.logo{
    padding: 2% 0 0 5%;
}
.paragraph-register{
    margin: 30px 30px;
    text-align: center;
    font-size: 16px;
}
.paragraph-register p{
    color: black;
}

form .textfield-t{
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.445);
    margin: 5px 0;
}
.t-log form{
    padding: 0 40px;
    box-sizing: border-box;
}
.t-log{
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    background: rgba(245, 245, 245, 0.477);
    border-radius: 10px;
    padding: 20px;
}

.textfield-t input{
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.textfield-t label{
    margin: 5px;
    left: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    pointer-events: none;
}

.t-log a{
    text-decoration: none;
    text-align: right;
}
.t-log a:hover{
    text-decoration: underline;
}

.alert-success{
    color: green;
}
.alert-error{
    color: red;
}

.alert{
    padding: 10px;
    margin-bottom: 5px;
}
select{
    padding: 6px;
    margin: 5px;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    border: solid white 2px;
}
select:hover{
    transition: .5s;
    cursor: pointer;
}
.form-title{
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.445);
    margin: 5px 0;
}
.form-submit{
    width: 150px;
    height: 50px;
    margin: 15px 15px;
    border: 2px solid white;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.form-t{
    max-height: 90vh;
    overflow-y: auto;
    max-width: 500px;
    margin: auto;
}

form[action="/calculate_calories"] {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.radio-area{
    border-bottom: 2px solid rgba(0, 0, 0, 0.445);
    margin: 5px;
    left: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
}

.radio{
    margin: 10px 0;
}

.radio input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #007BFF;
    border-radius: 50%;
    outline: none;
}

.radio input[type="radio"]:checked{
    background-color: #007BFF;
    border-color: #004793;
}

.radio label{
    margin-left: 10px;
    user-select: none;
    font-size: 16px;
}

.radio:hover input[type="radio"]{
    border-color: #00a4b3;
}

.account-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.profil-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.account-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.account-icon {
    position: absolute;
    margin-top: 15px;
    margin-right: 15px;
    z-index: 999;
}

.profile-dropdown {
    position: absolute;
    top: calc(100% +10px);
    right: 0;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    display: none;
}

.account-icon:hover .profile-dropdown {
    display: block;
}

.profile-dropdown a {
    display: block;
    color: black;
    padding: 10px 0;
    text-decoration: none;
}

.warning{
    background-color: red;
}

.warning-btn{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
}

.profile-dropdown a:hover {
    background-color: #f1f1f1;
}

.black-text {
    color:#000000;
    border-bottom: #000000;
}

.col{
    border: 1px solid black;
}

table{
    max-width: 1000px;
    margin: 40px auto;
}

.welcome-text{
    padding: 20px;
    max-width: 800px;
    margin: 20px 50px;
    line-height: 1.6;
}

.welcome-text h2, .welcome-text h3{
    margin: 10px 0;
}

.welcome-text h2{
    font-size: 28px;
    color: #333333;
    
}

.welcome-text h3{
    font-size: 20px;
    color: #525252;
}

.clearfix{
    max-width: 1000px;
    max-height: auto;
    margin: 50px auto;
    background-color: rgb(110, 110, 110);
    padding: 30px;
}

.clearfix img{
    margin: 40px;  
}

.col{
    border: none;
    background-color: rgb(110, 110, 110);
    border-radius: 10px;
    text-align: center;
}

.col p{
    color: white;
}

.clearfix form{
    margin-right: 30px;
}
.start-form{
    margin-bottom: 40px;
}

.accordion {
    color:black;
    display: flex;
    flex-direction: column;
}

.according-item {
    margin-bottom: 20px;
}

.according-header {
    background-color: rbga(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    width: 100%;
    text-align: left;
}

.according-header:hover {
    background-color: rbga(0, 0, 0, 0.2);
}

.accordion-buttom {
    color: black;
    font-weight: bold;
}

.accordion-collapse {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.according-body {
    padding: 10px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
}

.accordion.collapse:not(.show) {
    max-height: 0;
}

.according-body strong {
    font-weight: bold;
    color: black;
}

.recipe-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.recipe-text {
    width: 60%;
}

.recipe-image img {
    max-width: 100%;
    height: auto;
}

.accordion-header {
    margin-top: 10px;
}
